<a href="https://colab.research.google.com/github/raviteja1432/NNDL/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [47]:
import pandas as pd
import numpy as np

In [48]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [49]:
data = pd.read_csv('/content/drive/MyDrive/pressure.csv')
data.head()

       X      Y
0   75.1  577.8
1   74.3  577.0
2   88.7  570.9
3  114.6  578.6
4   98.5  572.4

In [50]:
maxX = np.max(data['X'])
minX = np.min(data['X'])
maxY = np.max(data['Y'])
minY = np.min(data['Y'])

data['X'] = (data['X'] - minX) / (maxX - minX)
data['Y'] = (data['Y'] - minY) / (maxY - minY)

In [51]:
import numpy as np
import math as mt
import random
import pandas as pd

In [52]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.20, random_state =101)

In [54]:
index = data.index
ns = len(index)
epochs=1000
ns

30

In [57]:


#Initialization
m1 = np.random.uniform(-50, 50)
c = np.random.uniform(-50, 50)
eta = 0.5
epochs = 500

# Loop for epochs
for _ in range(epochs):
    
    # Calculating Grad M
    gradM = -sum([(y_train.iloc[i] - m1 * x_train.iloc[i] - c) *x_train.iloc[i] for i in range(x_train.shape[0])])
    gradM /= x_train.shape[0]
    
    # Calculating Grad C
    gradC = -sum([(y_train.iloc[i] - m1 * x_train.iloc[i] - c) for i in range(x_train.shape[0])])
    gradC /= x_train.shape[0]
    
    # Updating m and c values
    c += - eta * gradC
    m1 += - eta * gradM

# Print model parameters after training
print(f'm = {m1}\nc = {c}')

m = -0.15711816842019435
c = 0.6856858825089066

In [66]:
train_pred = [m1 * x_train.iloc[i] + c for i in range(x_train.shape[0])]
test_pred = [m1 * x_test.iloc[i] + c for i in range(x_test.shape[0])]

# Denormalization of Output Values
train_pred = [i * (maxY - minY) + minY for i in train_pred]
test_pred = [i * (maxY - minY) + minY for i in test_pred]
trainY = [i * (maxY - minY) + minY for i in y_train]
testY = [i * (maxY - minY) + minY for i in y_test]

# Training Error Calculation

import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(train_pred, trainY))
print("training error") 
print('Root mean square error', rmse) 
mse = (mean_squared_error(train_pred,trainY)) 
print('Mean square error', mse) 
mae=mean_absolute_error(train_pred,trainY)
print('Mean absolute error', mae)


#Testing Accuracies
rmse = math.sqrt(mean_squared_error(test_pred,testY )) 
print("testing error")
print('Root mean square error', rmse) 
mse = (mean_squared_error(test_pred,testY))
print('Mean square error', mse) 
mae=mean_absolute_error(test_pred,testY)
print('Mean absolute error', mae)

training error
Root mean square error 39.79281298829049
Mean square error 1583.4679655210605
Mean absolute error 26.64756104251019
testing error
Root mean square error 29.6767516633027
Mean square error 880.7095892853396
Mean absolute error 21.62559399680948

In [67]:
pd.DataFrame({'Actual' : trainY, 'Predicted':train_pred})

    Actual   Predicted
0    513.4  518.027525
1    506.3  522.700295
2    512.8  518.167708
3    504.3  514.242581
4    496.4  519.148989
5    578.6  500.084086
6    577.0  518.915351
7    510.9  504.383035
8    502.8  519.148989
9    506.4  507.186697
10   411.2  501.299006
11   503.9  519.102262
12   577.8  518.541529
13   512.8  511.766012
14   572.4  507.607247
15   406.7  503.635392
16   510.2  510.177270
17   507.1  511.345463
18   506.2  522.933934
19   522.0  507.840885
20   493.0  506.298871
21   531.7  499.990631
22   510.2  517.233154
23   505.2  499.523354

In [68]:
pd.DataFrame({'Actual' : testY, 'Predicted':test_pred})

   Actual   Predicted
0   505.4  512.233289
1   510.8  497.560790
2   563.9  524.569403
3   508.6  502.327016
4   570.9  512.186562
5   510.0  515.364045

In [72]:
x = float(input('Enter the pressure of liquid nitrogen : '))
x = (x - minX) / (maxX - minX)
prediction = m1 * x + c
prediction = (prediction * (maxY - minY)) + minY
print('Predicted Weight :', prediction)

Enter the pressure of liquid nitrogen : 109
Predicted Weight : 502.7008375374162